* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.header--container {
  padding: 2em;
  background: url("./wallpapersden.com_artistic-landscape-view_1920x1080.jpg")
    no-repeat;
  background-size: cover;
  border-radius: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.header--container > h1 {
  font-size: 3.5em;
  margin: 0.5em;
  text-align: center;
  color: rgb(157, 34, 238);
  text-shadow: 1.5px 1.5px 2px rgb(195, 144, 221);
}

.list--add--button__style {
  border: 1px solid rgb(169, 90, 218);
  background-color: transparent;
  padding: 0.5em;
  color: black;
  margin: 1em;
  font-size: 1.25em;
  width: 20%;
  border-radius: 1em;
}

.list--add--button__style:hover {
  background-color: rgb(201, 127, 232);
  cursor: pointer;
  color: white;
}

.all--notes--title--style {
  padding: 1em;
  margin: 1em;
}

.all--notes--title--style > h3 {
  font: 600 2.5em "Lucida Sans";
  color: rgb(221, 87, 170);
  text-shadow: 1px 1px 1px rgb(241, 162, 162);
}

#divStarter {
  overflow-x: scroll;
  display: flex;
  height: 50em;
  width: 95%;
  padding: 2em;
  margin: 2em;
}

.note--container {
  border: 1px solid black;
  min-width: 45em;
  margin: 1.1em;
  border-radius: 1em;
  overflow-y: scroll;
  box-shadow: 1em 1em .5em grey;
}

.title--input__style {
  border: none;
  color: rgb(140, 28, 231);
  padding: 0.5em;
  margin: .75em;
  font-size: 2.5em;
  width: 70%;
}

.title--input__style:focus {
  outline: none;
  border: .5px solid black;
  border-radius: .5em;
  box-shadow: .5em .5em .5em lightgray;
}

.close--note {
  background: transparent;
  border: 1px solid lightslategray;
  border-radius: 1em;
  padding: .5em;
  width: 8%;
  height: 8%;
  position: relative;
  top: -2em;
  left: 5em;
}

.close--note:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(231, 85, 85);
  box-shadow: .5em .5em .5em lightslategrey;
}

.button--time--style {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.addButton--note {
  border: 1px solid rgb(222, 139, 245);
  border-radius: 1em;
  background-color: transparent;
  width: 20%;
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0.5em;
}

.addButton--note:hover {
  background-color: rgb(201, 127, 232);
  cursor: pointer;
  color: white;
}

.getTime {
  font: 1.5em "Lucida Sans";
}

.notes--input {
  padding: .75em;
  margin: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  outline: none;
}

.note--checkbox {
  margin: 1em;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

/* .note--checkbox:checked{
  background-color: lightblue;
  color: black;
  border: .1em solid lightblue;
} */

.specific-note__style {
  margin: 0.5em;
  padding: 0.5em;
  width: 75%;
  font-size: 1.5em;
  border: 1px solid black;
  border-radius: 1em;
}

.specific-note__style:focus {
  outline: none;
  border: .05em solid black;
  box-shadow: .5em .5em .5em lightslategrey;
}

.strike--task {
  text-decoration: line-through;
}

.footer--container {
  padding: 3em;
  margin: 2em;
  background: linear-gradient(rgb(238, 228, 242), rgb(234, 164, 198));
  border-radius: 1em;
}

.footer--container > h4 {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  color: rgb(149, 31, 208);
}
